body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #1f2937;
    position: fixed;
    left: 100px;
    right: 100px;
    top: 0;
    color: white;
}

.logo {
    font-size: larger;
    font-weight: 900;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    gap: 25px;
    background-color: #9baabe;
    margin-top: 70px;
    color: white;
}

.desc {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc-1 {
    font-size: x-large;
    font-weight: 900;
}

button {
    width: 100px;
    height: 20px;
    cursor: pointer;
}

.content {
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.content-header {
    font-size: larger;
    font-weight: 900;
}

.cards {
    color: gray;
    display: flex;
    font-size: small;
    gap: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-1, .card-2, .card-3 {
    display: flex;
    flex-direction: column;
    width: 150px;
}

img {
    border-radius: 25px;
}

.quote {
    background-color: #9baabe;
    display: flex;
    flex-direction: column;
    padding: 75px;
    gap: 20px;
}

.quote-body {
    font-style: italic;
}

.quote-author {
    font-weight: 900;
}

.cta {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.cta-left{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    gap: 10px;
    padding: 10px;
}

.cta-head {
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100px;
}