body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: blue;
}

.logo {
    font-size: larger;
    font-weight: 900;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    gap: 25px;
    background-color: lightblue;
}

.desc {
    width: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc-1 {
    font-size: x-large;
    font-weight: 900;
}

button {
    width: 100px;
    height: 20px;
    cursor: pointer;
}

.content {
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.content-header {
    font-size: larger;
    font-weight: 900;
}

.cards {
    display: flex;
    font-size: small;
    gap: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    border-radius: 25px;
}

.quote {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    padding: 75px;
    gap: 20px;
}

.quote-body {
    font-style: italic;
}

.quote-author {
    font-weight: 900;
}